*.visx
.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
cli/obj/**
cli/bin/**
!cli/bin/osx-x64/**
!cli/bin/osx-arm64/**
!cli/bin/win-x64/**
cli/*.cs
cli/*.csproj
cli/*.sln
cli/Abstractions/**
cli/Filters/**
cli/Formatters/**
cli/Models/**
cli/Resolvers/**
cli/Services/**

